/*.prgmon > .line > .cell {
    font-family: monospace;
    background-color: white;
    padding: 0;
    margin: 0;
    color: red;
    width: 10px;
    height: 17px;
    display: inline-block;
  }
*/
