*{
    background-color: black;
}

.line > .cell {
    font-family: monospace;
    background-color: black;
    padding: 0;
    margin: 0;
    color: green;
    width: 10px;
    height: 17px;
    display: inline-block;
  }

#yiwi{
    font-family: monospace;
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
}
